.footer {
    background-image: url(../../images/bg-pattern-footer-mobile.svg);
    background-color: $veryLightGray;
    background-repeat: no-repeat;
    padding-top: 1.5625rem; 
    padding-bottom: 1.5625rem; 
    margin-top: 6.25rem;
    
    @include breakpoint-up(medium) {
        background-image: url(../../images/bg-pattern-footer-desktop.svg);
    }

    &-content {
        text-align: center;  
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
        
        hr {
            width: 95%;
            margin: 0 auto;
            border-color: $veryLightGray;

            @include breakpoint-up(large){
                width: 98%;
            }
        }

        @include breakpoint-up(large){
            text-align: left;
        }

    }

    &-head {
        img {
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(medium){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &-socmed {
        svg {
            margin-bottom: 0;
            margin-right: 0.75rem;
        }

        a {
            svg path {
                transition: 0.2s ease-in-out;
            }
    
            &:hover svg path {
                fill: $darkViolet;
            }
        }
        margin-bottom: 40px;
    }

    &-item {
        font-size: 12px;
        font-weight: 700;
        text-align: center;

        a {
            display: block;
            margin: 0.75rem auto;
            width: fit-content;

            &:hover {
                text-decoration: underline;
            }

            @include breakpoint-up(medium){
                margin: 12px 0;
            }
        }

        .title {
            color: $darkGrayishViolet;
            margin-top: 2.8125rem;
            margin-bottom: 1.875rem;
        }

        .link {
            color: $darkViolet;
        }

        @include breakpoint-up(medium){
            text-align: left;
        }
    }

    &-items {
        display: grid;
        grid-template-columns: 1fr;

        @include breakpoint-up(medium){
            grid-template-columns: repeat(2,1fr);
        }

        @include breakpoint-up(large){
            grid-template-columns: repeat(4,1fr);
        }
    }

}