html {
    font-size: 100%;
    box-sizing: border-box;
    overflow-x: hidden;

    
    
}

*, *::after, *::before{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;

    @include breakpoint-up(large){
        overflow: visible;
    }
}

.no-scroll {
    overflow: hidden;
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
}

a, a:visited, a:hover {
    color: $darkGrayishViolet;
    text-decoration: none;
    // font-weight: 700;       
}

button, .button {
    background: none;
    width: 9.0625rem;
    font-size: 0.875rem;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    border: solid 2px black;
    padding: 0.625rem 1.75rem;
    transition: 0.25s ease-in-out;

    &:hover {
        background-color: black;
        color: $veryLightGray;
    }
}

.container {
    // max-width: 69.5625rem;
    margin: 0 auto;

    &-pall {
        padding-top: 3.25rem;
        padding-bottom: 3.25rem;
        padding-left: 1.4375rem;
        padding-right: 1.4375rem;
        @include breakpoint-up(large){
            padding-left: 10.3125rem;
            padding-right: 10.3125rem;
            padding-top: 6.25rem;
            padding-bottom: 6.25rem;
        } 
    }

    &-pt {
        padding-top: 3.25rem;
        @include breakpoint-up(large){
            padding-top: 6.25rem;
        } 
    }

    &-pb{
        padding-bottom: 3.25rem;
        @include breakpoint-up(large){
            padding-bottom: 6.25rem;
        } 
    }

    &-pl {
        padding-left: 1.4375rem;
        @include breakpoint-up(large){
            padding-left: 10.3125rem;
        } 
    }
    
    &-pr {
        padding-right: 1.4375rem;
        @include breakpoint-up(large){
            padding-right: 10.3125rem;
        } 
    }

    
    &-px {  
        padding-left: 1.4375rem;
        padding-right: 1.4375rem;
        @include breakpoint-up(large){
            padding-left: 10.3125rem;
            padding-right: 10.3125rem;
        }   
    }

    &-py {
        padding-top: 3.25rem;
        padding-bottom: 3.25rem;
        @include breakpoint-up(large){
            padding-top: 6.25rem;
            padding-bottom: 6.25rem;
        } 
    }
}

h1,h2,h3,h4 {
    font-family: 'DM Serif Display', serif;
}

h1 {
    font-size: 2.8125rem;
    font-weight: 400;
    line-height: 1;
}


.hide-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}

.hide-mobile {
    @include breakpoint-down(medium){
        display: none;
    }
}