.header {
    nav {
        position: relative;
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
    }

    &-hamburger {
        position: relative;
        width: 32px;
        height: 32px;
        border: 2px solid black;
        // text-align: center;
        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        span {
            display: block;
            background: black;
            height: 2px;
            width: 16px;
            // margin: 0 auto;
    
            &:not(:last-child){
                margin-bottom: 3px;
            }
        }
    }

    &-menu {
        a {
            font-size: 0.875rem;
            &:not(:last-child){
                margin-right: 1.5625rem;
            }
        }
    }
}