.header {
    nav {
        position: relative;
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
    }

    &-hamburger {
        position: relative;
        width: 32px;
        height: 32px;
        border: 2px solid black;
        // text-align: center;
        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        span {
            display: block;
            background: black;
            height: 2px;
            width: 16px;
            transition: 0.2s ease-in-out;
            // margin: 0 auto;

            &:nth-child(2) {
                position: absolute;
            }
    
            &:not(:last-child, :nth-child(2)){
                margin-bottom: 3px;
            }
        }
    }
    .open {
        a {
            span {
                &:first-child {
                    top: -60px;
                    opacity: 0;
                }

                &:nth-child(2){
                    transform-origin: center;
                    transform: rotate(45deg);
                    margin: 0;
                }

                &:nth-child(3){
                    transform-origin: center;
                    transform: rotate(-45deg);
                    margin: 0;
                }
                &:nth-child(4){
                    bottom: -60px;
                    opacity: 0;
                }
            }
        }
    }

    &-menu {
        a {
            font-size: 0.875rem;
            &:not(:last-child){
                margin-right: 1.5625rem;
            }
        }
    }
}