.workflow {
    &-content {
        background-color: $darkViolet;
        color: white;
        text-align: center;
        padding: 4.375rem 2.5rem;
        background-image: url(../../images/bg-pattern-how-we-work-mobile.svg);
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;

        @include breakpoint-up(large){
            display: flex;
            text-align: left;
            justify-content:space-between;
            align-items: center;
            height: 240px;
            background-image: url(../../images/bg-pattern-how-we-work-desktop.svg);
        }

        h1 {
            line-height: 1.1;

            @include breakpoint-up(large){
                flex: 0 0 50%;
                font-size: 3.3rem;
            }
        }

        .button {
            color: white;
            border-color: white;
            width: 10.0625rem;
            font-size: 0.875rem;
            font-weight: normal;
            padding: 0.75rem;

            @include breakpoint-up(large){
                width: 9.0625rem;
                height: 2.125rem;
                font-size: 12px;
                padding: 0;
            }
        }
    }
}